VITE_SUPABASE_URL=https://umqfcoudffixajwpxjlr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtcWZjb3VkZmZpeGFqd3B4amxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1OTIyMjYsImV4cCI6MjA5NzE2ODIyNn0.RhmTMDUiGEsgW9_09C4syS5laIoWN7dvIS8TUG9Dve0
SUPABASE_URL=https://umqfcoudffixajwpxjlr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtcWZjb3VkZmZpeGFqd3B4amxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1OTIyMjYsImV4cCI6MjA5NzE2ODIyNn0.RhmTMDUiGEsgW9_09C4syS5laIoWN7dvIS8TUG9Dve0

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_live_SLwWKyJHmdtGhQ
RAZORPAY_KEY_SECRET=82p2pTQszUbe4166OZcm2CAG
